@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.attribution {
  font-size: 10px;
  position: absolute;
  top: 0%;
  left: 0%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/*******color********/
:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}
.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Very-Light-Gray);
}
.header {
  padding: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.title1 h1 {
  font-size: 2rem;
  font-weight: 200;
  color: var(--Very-Dark-Blue);
}
.title2 h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--Very-Dark-Blue);
}
.text {
  width: 100%;
}
.header p {
  color: var(--Grayish-Blue);
}
.TeamBuilder,
.Karma,
.Supervisor,
.Calculator {
  position: absolute;
  background-color: white;
  width: 22%;
  height: 30vh;
  border-radius: 5px;
  box-shadow: 3px 3px 10px 1px var(--Grayish-Blue);
}
.content {
  margin: 6% 6% 1% 8%;
}
.content h2 {
  color: var(--Very-Dark-Blue);
}
.content p {
  margin-top: 4%;
  color: var(--Grayish-Blue);
  font-size: 0.9rem;
}
.TeamBuilder {
  top: 30%;
  left: auto;
  border-top: solid 0.3rem var(--Red);
  background-image: url(./images/icon-team-builder.svg);
  background-repeat: no-repeat;
  background-position: 85%;
  background-position-y: 90%;
}
.Karma {
  top: 65%;
  left: auto;
  border-top: solid 0.3rem var(--Orange);
  background-image: url(./images/icon-karma.svg);
  background-repeat: no-repeat;
  background-position: 85%;
  background-position-y: 90%;
}
.Supervisor {
  top: 45%;
  left: 15%;
  border-top: solid 0.3rem var(--Cyan);
  background-image: url(./images/icon-supervisor.svg);
  background-repeat: no-repeat;
  background-position: 85%;
  background-position-y: 90%;
}

.Calculator {
  top: 45%;
  right: 15%;
  border-top: solid 0.3rem var(--Blue);
  background-image: url(./images/icon-calculator.svg);
  background-repeat: no-repeat;
  background-position: 85%;
  background-position-y: 90%;
}
/*****************************************RESPONSIVE**************************/

@media screen and (max-width: 800px) {
  * {
    font-size: 10px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  .TeamBuilder,
  .Karma,
  .Supervisor,
  .Calculator {
    position: relative !important;
    width: 80%;
    height: 25%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    margin-top: 2%;
    background-size: 10%;
  }
}
